.page-title {
  padding: 20px 20px 0px 20px;
  text-align: left;
}

.search-container {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-items: center;
}

.search-bar-container {
  border-radius: 25px;
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.search-bar-container > button {
  background-color: rgba(0, 0, 0, 0);
  right: 5px;
  top: 5px;
  border: 0;
  position: absolute;
}

.search-bar-container > button > img {
  width: 30px;
  height: 30px;
}

select,
#reset {
  padding: 0px 30px 0px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 47.6px;
  background-color: #fff;
}

#reset {
  cursor: auto;
}

#reset:hover {
  background-color: #80872c;
}

#container {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  min-height: 40vh;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--text-color);
  border-radius: 50%;
  border-top-color: var(--background-color);
  animation: spin 1s infinite linear;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #f9f8f4;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 15px;
  text-align: center;
  color: #181914;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  height: auto;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.cardDate {
  width: 80%;
  display: flex;
  justify-content: right;
}

@media (max-width: 500px) {
  .search-container {
    flex-direction: column;
  }

  .search-bar-container {
    width: 90%;
  }
}
