@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color: #FBFBFB;
  --text-color: #6E706B;
  --accent_1: #959E33;
  --accent_2: #40531C;
  --accent_3: #181914;
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

/*****************
  *
  *   Header
  *
  *******************/

header {
  background-color: var(--accent_2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  color: var(--background-color);
  font-size: 24px;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}

.logo > h1 {
  font-size: 2rem;
}

.logo > img {
  width: 100px;
  height: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.toggle-button {
  display: none;
}

.toggle-button > img {
  width: 40px;
}

#close_icon {
  display: none;
}

/*****************
*
*   Main
*
*******************/
main {
  padding: 20px;
}

.info {
  margin-left: 20px;
}

.info > img {
  width: 70%;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

span {
  font-family: "Montserrat";
  font-size: 1.3rem;
}

.wireframe_container > img {
  width: 30%;
  margin-left: 20px;
}

.design_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.design_container > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
}

.design_container > a > img {
  width: 40px;
}

/*****************
*
*   Footer
*
*******************/
footer {
  background-color: var(--accent_2);
  color: var(--background-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

@media (max-width: 995px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo > h1 {
    font-size: 1rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    display: none;
  }

  nav a {
    font-size: 2rem;
  }

  .toggle-button {
    display: block;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  .show-nav ul {
    display: block;
    text-align: center;
  }

  .wireframe_container > img {
    width: 70%;
  }

  .info > img {
    width: 100%;
  }
}
